body{
    margin-top: 300px;
}
.container{
    display: flex;
}

.ball{
    border: 2px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background: linear-gradient(black, pink);
    animation: rotate 1s infinite linear;
    animation: bounce 1s infinite;
}

.obstacle{
    height: 200px;
    width: 40px;
    background-color: black;
    animation: move 1s infinite linear;
 
}

hr{
    height: 10px;
    background: #000;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes move {
    from{
        transform: translateX(1400px);
    }
    to{
        transform: translate(-200px);
    }
}

@keyframes bounce {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-300px);
    }
}
