.container{
    background-color: #9cf0b2;
    color: red;
    padding: 10px;
    width: 80%; 
    margin: 0 auto;
    text-align: center;
}

td,th{
    border:  2px solid black;
    padding: 15px;
}

table{
    border-collapse: collapse;
    position: relative;
    height: 50%;
    width: 50%;
    margin-left: 50px;
}

body{
    text-align: center;
}